nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 0 3rem;
  color: rgb(66, 66, 66);
  button {
    background: transparent;
    border: none;
    border: 1px solid rgb(66, 66, 66);
    padding: 0.5rem;
    border-radius: 10%;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(66, 66, 66);
      color: white;
    }
  }
}

.library-active {
  background: rgb(66, 66, 66);
  color: white;
}

@media screen and (max-width: 768px) {
  nav {
    padding-bottom: 10px;
  }
  button {
    z-index: 1000;
  }
  h1 {
    z-index: 10000;
  }
}
