.song-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  img {
    width: 25%;
    border-radius: 50%;
  }
}

.song-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  h2 {
    padding: 5px 0px;
    font-weight: 500;
  }

  h3 {
    font-weight: 500;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 50%;
    }
  }
}
